@model IEnumerable<Mihaja.Models.Task>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<input type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" value="Add task"/>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskStatement)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatement)
            </td>
            <td>
                <button type="submit" class="btn btn-default">
                    @Html.ActionLink("Edit", "Edit", new { id = item.TaskId })
                </button> |
                
                    @Html.ActionLink("Delete", "Delete", new { id = item.TaskId }, new {@class="btn btn-danger"})
                

                
            </td>
        </tr>
    }

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new task</h4>
                </div>
                @using (Html.BeginForm("Create","Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
            <div class="modal-body">

                

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" name="taskname" value="" />
                    </div>
                </div>



            </div>
                    <div class="modal-footer">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
</table>
